{% load static %}
<html>
    <head>

        <title>Gogory.ru</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'logout.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'orders.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         <!-- Latest compiled and minified CSS -->

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="TaxiGo">
        <meta property="og:type" content="website">
        <meta property="og:image" content="#">
        <meta property="og:url" content="#">
        <meta property="og:description" content="Gogory - сервис надежного такси">
        <meta property="og:locale" content="ru">
        <script src="https://kit.fontawesome.com/09207fd670.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
      
    </head>

    <header>
        <nav>
            <h1>Gogory.ru</h1>
            <ul>   
                <li><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
                {% if user.is_authenticated %} 
                <li><a class="nav-link" href="{% url 'client_profile' %}">Профиль</a></li>
                <li><form method="post" action="{% url 'logout' %}">{% csrf_token %}<a class="nav-link" href="#" onclick="this.parentNode.submit()">Выйти</a></form></li>
                {% else %}
                {% comment %} <li><a class="nav-link" href="{% url 'about' %}">О нас</a></li> {% endcomment %}
                <li><a class="nav-link" href="{% url 'for_drivers' %}">Стать перевозчиком</a></li>
                <li><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
                <li><a class="nav-link" href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
          {{message|escape}}
        </div>
        {% endfor %}
    {% endif %}

    <body>
        {% block content %}
        {% endblock %}
    </body>
    
    <hr>
    <footer>
        <div class="footer">
            <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
            <a href="{% url 'user_agreement' %}">Пользовательское соглашение</a><br>
            <h3>Gogory.ru</h3>
            <p>&copy;2024 Gogory.ru</p>
        </div>
      </div>
    </footer>

</html>