{% extends 'taxi/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="for-drivers-container">
    <h1>Зарабатывайте больше с Gogory.ru!</h1>
    <p><a href="{% url 'register_driver' %}">регистрация</a></p>
    <div class="container">
        <div class="items">
            <img src="{% static 'media/carrier-0.svg' %}">
            <h3>начните принимать заказы</h3>
            <p>Бесплатно регистрируйтесь на нашем сайте и начинайте бизнес в сфере перевозок. Наш сервис связывает пассажиров с водителями как с помощью приложения, так и через веб-сайт. Предлагайте лучшую цену и получайте заказы от лучших клиентов.</p>
        </div>
        <div class="items">
            <img src="{% static 'media/carrier-1.svg' %}">
            <h3>сами планируйте объём работы</h3>
            <p>Без офисов и лишних сложностей. Работайте и больше зарабатывайте! Поездки бронируются заранее, наиболее подходящие для вашего графика выбираете вы сами. Укажите свою рабочую зону и получайте уведомления о новых заявках. Уже едете с пассажиром? На Gogory.ru можно проверить новые заявки вблизи запланированной высадки.</p>
        </div>
        <div class="items">
            <img src="{% static 'media/carrier-2.svg' %}">
            <h3>зарабатывайте больше</h3>
            <p>Предлагайте хорошие цены и зарабатывайте с нами. Принимайте столько заявок, сколько сможете обработать — нет ни минимальных, ни максимальных ограничений. Предложения прозрачны, никаких скрытых платежей.</p>
        </div>
    </div>
</div>
{% endblock %}