{% load static %}
<html>
    <head>
        <title>TaxiGo</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="TaxiGo">
		<meta property="og:type" content="website">
		<meta property="og:image" content="media/logo.png">
		<meta property="og:url" content="#">
		<meta property="og:description" content="TaxiGo - сервис надежного такси">
		<meta property="og:locale" content="ru">
      
    </head>

    <header>
        <!-- make a nav bar -->
        <nav>
            <img src="media/logo.png" width="130px">
            <ul>   
                <li><a href="{% url 'index' %}">TaxiGo</a></li>
                <li><a href="{% url 'index' %}">Пассажирам<a></li>
                <li><a href="#">Водителям</a></li>
                <li><a href="{% url 'login' %}">Вход</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
            </ul>
        </nav>
    </header>

    <body>
        {% block content %}
        {% endblock %}
    </body>
    
    <footer>
        <div id="left-footer">
         <div class="footer">
            <a href="#">Политика конфиденциальности</a><br>
            <a href="#">Пользовательское соглашение</a><br>
            <img src="media/logo.png" width="150px" height="150px">
            <p>©2024 TaxiGo</p>
         </div>
      </div>
      <div id="right-footer">
         <div class="footer" >
            <h4>Контакты:</h4>
            <p>Телефон: </p>
            <p>Адрес эл.почты: </p>
         </div>
         <div class="footer" >
            <h4>Ссылки: </h4>
            <div>
                <a href="#">Главная</a>
                <a href="#">Водителям</a>
                <a href="#">О нас</a>
            </div>
         </div>
      </div>
    </footer>
</html>